@import "./variables.scss";

body {
    background-color: rgba($color: $light-yellow, $alpha: 0.05) !important;
}

img {
     max-width: 100%;
 }

 h1 {
     font-weight: 800;
     padding-top: 15px;
     padding-bottom: 15px;
 }

 .blue-text {
    color: $medium-blue;
 }

 .top-padding {
     padding-top: 40px;
 }

.btn-green {
    background-color: $medium-green !important;
    color: white !important;
    border: 2px solid $medium-green !important;
    font-weight: 500 !important;
}

.btn-blue {
    color: $medium-blue !important;
    border: 2px solid $medium-blue !important;
    font-weight: 500 !important;
    &:hover {
        background-color: $medium-blue !important;
        color: white !important;
        border-color: $medium-blue !important;
    }
}

.circle-bckg {
    background-position: 50%;
    @include sm {
        background: radial-gradient(384px circle at 50% 50%,#1bdbb9 50%,transparent 0);
    }
    @include md {
        background: radial-gradient(496px circle at 50% 50%,#1bdbb9 50%,transparent 0);
    }
    @include lg {
        background: radial-gradient(775px circle at 50% 50%,#1bdbb9 50%,transparent 0);
    }
}