@import "./variables.scss";

.wm-nav-logo {
    max-width: 166px;
}

.custom-navlink {
    color: $medium-blue;
    font-weight: 500;
    &:hover {
        color: $dark-blue;
    }
}

.align-right {
    justify-content: flex-end;
}