@import "./variables.scss";

.wm-nav-logo {
    max-width: 166px;
}

.custom-navlink {
    color: $medium-blue;
    font-weight: 500;
    &:hover {
        color: $dark-blue;
    }
}

.align-right {
    justify-content: flex-end;
}

.nav-buttons {
    @media (max-width: #{$screen-lg-min}) {
        width: 25%;
        margin-top: 15px !important;
    }
    @media (max-width: #{$screen-md-min}) {
        width: 75%;
        margin-top: 15px !important;
    }
}