.owl-nav { 
    display: block !important;
    font-size: 30px;
    font-weight: bolder;
}

.owl-carousel {
    padding-top: 20px;
    .owl-stage {
        display: flex;
    }
    .owl-item {
        width: auto;
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 15px;
    }
    .card-img-top {
        border-radius: 15px 15px 0px 0px;
    }
}